@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}

.container {
  max-width: 965px;
  padding: 15px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 115px;
  background-color: #282a2e;
}

.header {
  color: white;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo img {
  margin: 0 15px 0 0;
}
.header__logo h1 {
  font-size: 24px;
}
.header__menu {
  max-width: 560px;
  width: 100%;
}
.header__nav {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 960px) {
  .header__nav {
    display: none;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome {
  background-color: #453a33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
  position: relative;
}
.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.welcome__title {
  word-wrap: break-word;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
}
.welcome__title span {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}
.welcome__button {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 15px;
  z-index: 50;
}
.welcome__bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 500px;
}
@media (max-width: 1023px) {
  .welcome__bg {
    width: 350px;
  }
}
@media (max-width: 880px) {
  .welcome__bg {
    display: none;
  }
}
.welcome__bg img {
  position: absolute;
}
.welcome__bg img:nth-child(1) {
  bottom: 0;
  left: 0;
}
.welcome__bg img:nth-child(2) {
  bottom: 130px;
  left: 160px;
  opacity: 0.9;
}
.welcome__bg img:nth-child(3) {
  bottom: 245px;
  left: 160px;
  opacity: 0.8;
}
.welcome__bg img:nth-child(4) {
  bottom: 295px;
  left: 240px;
  opacity: 0.7;
}
.welcome__bg img:nth-child(5) {
  bottom: 380px;
  left: 170px;
  opacity: 0.6;
}
.welcome__bg img:nth-child(6) {
  top: 150px;
  left: 290px;
  opacity: 0.4;
}
.welcome__bg img:nth-child(7) {
  top: 100px;
  left: 259px;
  opacity: 0.35;
}
.welcome__bg img:nth-child(8) {
  top: 55px;
  left: 326px;
  opacity: 0.3;
}

.services {
  background-color: #282a2e;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 440px;
          flex: 0 1 440px;
}
.services__title {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  margin: 50px 0;
}
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 180px;
  text-align: center;
  margin: 20px;
}
.plate__img {
  width: 101px;
  height: 101px;
  background-color: #313338;
  border-radius: 50%;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plate__img img {
  margin: auto auto;
}
.plate__title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #fbfbfb;
  margin: 15px 0;
}
.plate__text {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  color: #b3b3b3;
  line-height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100px;
  background-color: black;
}