@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: Roboto;
}

.container {
  max-width: 990px;
  padding: 15px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 115px;
  background-color: #282a2e;
}

.header {
  color: white;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo img {
  margin: 0 15px 0 0;
}
.header__logo h1 {
  font-size: 24px;
}
.header__menu {
  max-width: 560px;
  width: 100%;
}
.header__nav {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 960px) {
  .header__nav {
    display: none;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome {
  background-color: #453a33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
  position: relative;
}
.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.welcome__title {
  word-wrap: break-word;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
}
.welcome__title span {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}
.welcome__button {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 15px;
  z-index: 50;
}
.welcome__bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 500px;
}
@media (max-width: 1023px) {
  .welcome__bg {
    width: 350px;
  }
}
@media (max-width: 880px) {
  .welcome__bg {
    display: none;
  }
}
.welcome__bg img {
  position: absolute;
}
.welcome__bg img:nth-child(1) {
  bottom: 0;
  left: 0;
}
.welcome__bg img:nth-child(2) {
  bottom: 130px;
  left: 160px;
  opacity: 0.9;
}
.welcome__bg img:nth-child(3) {
  bottom: 245px;
  left: 160px;
  opacity: 0.8;
}
.welcome__bg img:nth-child(4) {
  bottom: 295px;
  left: 240px;
  opacity: 0.7;
}
.welcome__bg img:nth-child(5) {
  bottom: 380px;
  left: 170px;
  opacity: 0.6;
}
.welcome__bg img:nth-child(6) {
  top: 150px;
  left: 290px;
  opacity: 0.4;
}
.welcome__bg img:nth-child(7) {
  top: 100px;
  left: 259px;
  opacity: 0.35;
}
.welcome__bg img:nth-child(8) {
  top: 55px;
  left: 326px;
  opacity: 0.3;
}

.services {
  background-color: #282a2e;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 440px;
          flex: 0 1 440px;
}
.services__title {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  margin: 50px 0 0 0;
}
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 60px 0;
}
@media (max-width: 880px) {
  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 180px;
  text-align: center;
  margin: 20px;
}
.plate__img {
  width: 101px;
  height: 101px;
  background-color: #313338;
  border-radius: 50%;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plate__img img {
  margin: auto auto;
}
.plate__title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #fbfbfb;
  margin: 15px 0;
}
.plate__text {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  color: #b3b3b3;
  line-height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.like {
  background-color: #4b3e33;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 435px;
          flex: 0 1 435px;
}
.like__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.like__title {
  font-size: 60px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}
.like__button_p {
  background-color: #b0cd3b;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Roboto";
  padding: 15px 0;
  width: 127px;
  text-align: center;
  border-radius: 7px;
  margin-right: 10px;
}
.like__button_f {
  background-color: #1bbc9d;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Roboto";
  padding: 15px 0;
  width: 127px;
  text-align: center;
  border-radius: 7px;
}

.portfolio {
  background-color: #282a2e;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 785px;
          flex: 0 1 785px;
}
.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__title {
  font-size: 36px;
  font-weight: 300;
  margin: 65px 0 15px 0;
  color: white;
}
.portfolio__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__menu button {
  min-width: 104px;
  background-color: #313338;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.portfolio__menu button:hover {
  background-color: #1bbc9d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__button {
  margin: 70px 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
.portfolio__button::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 26px;
  border: solid #aaca29;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.portfolio__button:hover::after {
  top: 25px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.block {
  width: 224px;
  height: 224px;
  background-color: #313337;
  margin: 7.5px;
}

.pricing {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 435px;
          flex: 0 1 435px;
  background-color: #4b3e33;
}
.pricing__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 60px;
  font-weight: 300;
  line-height: 40px;
}
.pricing__title span {
  font-size: 40px;
  font-weight: 500;
}

.our-price {
  background-color: #282a2e;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1395px;
          flex: 0 1 1395px;
}
.our-price__title {
  line-height: 20px;
  font-weight: 300;
  font-size: 36px;
  margin: 40px 0 50px 0;
  color: #f4f4f4;
  text-align: center;
}
.our-price__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-price__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}
.our-price__row2 .table:nth-child(1) .table__price {
  background-color: #424242;
}
.our-price__row2 .table:nth-child(1) .table__button {
  background-color: #e4e4e4;
  color: #424242;
}
.our-price__row2 .table:nth-child(2) .table__price {
  background-color: #74b0a4;
}
.our-price__row2 .table:nth-child(2) .table__button {
  background-color: #74b0a4;
}
.our-price__row2 .table:nth-child(3) .table__price {
  background-color: #b6c380;
}
.our-price__row2 .table:nth-child(3) .table__button {
  background-color: #b6c380;
}
.our-price__row2 .table:nth-child(4) .table__price {
  background-color: #e4e4e4;
  color: #74b0a4;
  font-weight: 700;
}
.our-price__row2 .table:nth-child(4) .table__button {
  background-color: #424242;
}
.our-price__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #717171;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-price__about-title {
  position: relative;
  margin: 45px 0;
}
.our-price__footer-content {
  width: 405px;
  color: #717171;
  font-size: 13px;
  font-weight: 400;
  font-family: "Arial";
  line-height: 20px;
  position: relative;
  margin-bottom: 70px;
}
.our-price__footer-content span {
  color: #b0cd3b;
  font-size: 18px;
  font-weight: 700;
}
.our-price__footer-content::after {
  content: "”";
  font-size: "Arial";
  font-weight: 400;
  text-transform: uppercase;
  color: #424242;
  font-size: 300px;
  position: absolute;
  line-height: 20px;
  top: 110px;
  right: -140px;
}
.our-price__footer-content::before {
  content: "“";
  font-size: "Arial";
  font-weight: 400;
  text-transform: uppercase;
  color: #424242;
  font-size: 300px;
  position: absolute;
  line-height: 20px;
  top: 110px;
  left: -140px;
}

.footer-title {
  color: #f4f4f4;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-title::after {
  content: "";
  position: relative;
  width: 35%;
  top: 9px;
  right: -50px;
  height: 2px;
  background-color: #424242;
}
.footer-title::before {
  content: "";
  position: relative;
  top: 9px;
  left: -50px;
  width: 35%;
  height: 2px;
  background-color: #424242;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #313338;
  font-family: "Open Sans";
  text-align: center;
  max-width: 203px;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.table__title {
  margin: 40px 0 28px 0;
  font-size: 20px;
  font-weight: 300;
  color: #f4f4f4;
}
.table__price {
  padding: 17px 0;
  background-color: #1bbc9d;
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin: 15px 0;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
}
.table__terms {
  font-size: 16px;
  color: #b6b6b6;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.table__terms span {
  font-weight: 700;
}
.table__terms ul li {
  margin: 25px 0;
}
.table__button {
  background-color: #b0cd3b;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Roboto";
  padding: 15px 0;
  width: 127px;
  text-align: center;
  border-radius: 7px;
  width: 127px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 15px 0;
}
.table__text {
  margin: 25px 0;
}

.table_b {
  max-width: 263px;
}

.table_w {
  background-color: #f4f4f4;
}
.table_w .table__title {
  color: #5c5c5c;
}
.table_w .table__terms {
  color: 969696;
}
.table_w .table__terms span {
  color: #5c5c5c;
}

.team {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 435px;
          flex: 0 1 435px;
  background-color: #4b3e33;
}
.team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 60px;
  font-weight: 300;
  line-height: 40px;
}
.team__title span {
  font-size: 40px;
  font-weight: 500;
}

.about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 905px;
          flex: 0 1 905px;
  background-color: #282a2e;
}
.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__title {
  margin: 40px 0 28px 0;
  font-size: 36px;
  font-weight: 300;
  color: #fffefe;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__skills {
  width: 100%;
}
.about-block {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #acacac;
  text-align: center;
  padding: 10px;
}
.about-block__img {
  height: 230px;
}
.about-block__img img {
  width: 100%;
}
.about-block__name {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 32px 0 0 0;
}
.about-block__profession {
  font-size: 16px;
  font-weight: 300;
  margin: 8px 0 18px 0;
}
.about-block__text {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100px;
  background-color: black;
}