@import './null.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body, html {    
    overflow: auto;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    overflow-x: hidden;
}

.container {
    max-width: 990px;
    padding: 15px;
    height: 100%;
    width: 100%;
    margin: 0 auto;    
}

.header {
    flex: 0 1 auto;
    height: 115px;   
    background-color: #282a2e; 
    
}
.header {
    color: white;    
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
    }

    &__logo {     
        display: flex;
        align-items: center;
        img {
            margin: 0 15px 0 0;
        }  
        h1 {
            font-size: 24px;
        }                
    }

    &__menu {
        max-width: 560px;
        width: 100%;
    }

    &__nav {        
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        ul {
            display: flex;
            justify-content: space-between;
        }
        @media (max-width:960px) {
            display: none;
        }
    }
}

.content {
    flex: 1 1 100%;  
    display: flex;
    flex-direction: column; 
}


.welcome {
    background-color: #453a33;
    display: flex;
    color: white;
    flex: 0 1 580px;  
    @media (max-width:420px) {
        flex: 0 1 300px;
        text-align: center;
    }
    position: relative;   

    &__row {
        display: flex;
        align-items: center;
        height: 100%;
        
    }

    &__title {
        word-wrap: break-word;
        font-size: 60px;        
        font-weight: 300;
        line-height: 60px;
        span {
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
        } 
        @media (max-width:422px) {
            font-size: 30px; 
            line-height: 30px;
            span {
                font-size: 20px;   
                line-height: 24px;             
                font-weight: 500;
            } 
        }      
    }
    &__button {        
        background-color: rgba(#000000, 0);
        margin: 0 15px;      
        z-index: 50;  
    }   
    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 500px;
        @media (max-width:1023px) {
            width: 350px;
        }
        @media (max-width:880px) {
            display: none;
        }
        img {
            position: absolute;
        }

        img:nth-child(1) {
            bottom: 0;
            left: 0;
        }
        img:nth-child(2) {
            bottom: 130px;
            left: 160px;
            opacity: 0.9;
        }
        img:nth-child(3) {
            bottom: 245px;
            left: 160px;
            opacity: 0.8;
        }
        img:nth-child(4) {
            bottom: 295px;
            left: 240px;
            opacity: 0.7;
        }
        img:nth-child(5) {
            bottom: 380px;
            left: 170px;
            opacity: 0.6;
        }
        img:nth-child(6) {
            top: 150px;
            left: 290px;
            opacity: 0.4;
        }
        img:nth-child(7) {
            top: 100px;
            left: 259px;
            opacity: 0.35;
        }
        img:nth-child(8) {
            top: 55px;
            left: 326px; 
            opacity: 0.3;          
        }

    }
}

.services {
    background-color: #282a2e; 
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        color: #ffffff;
        margin: 50px 0 0 0;
        
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 40px 0 60px 0;
        @media (max-width:880px) {
            flex-wrap: wrap;
        }
        
    }
}

.plate {    
    display: flex;
    flex-direction: column;
    max-width: 180px;
    text-align: center;
    margin: 20px;   

    &__img {
        width: 101px;
        height: 101px;
        background-color: #313338;
        border-radius: 50%;
        margin: auto auto;
        display: flex;
        img {
            margin: auto auto;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 20px;
        font-weight: 300;
        color: #fbfbfb;
        margin: 15px 0;
    }

    &__text {
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        color: #b3b3b3;
        line-height: 20px;
        flex: 0 1 100%;
        
    }   
}
@mixin button($bg, $color) {
    background-color: $bg;
    color: $color;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    font-family: "Roboto";
    padding: 15px 0;
    width: 127px;
    text-align: center;
    border-radius: 7px;

}

.like {
    flex: 0 1 430px;
    background-color: #4b3e33; 
    @media (max-width:420px) {
        flex: 0 1 300px;
        text-align: center;
    }
    &__column {
        display: flex;
        height: 100%;
        flex-direction: column;        
        justify-content: center;
        @media (max-width:420px) {            
            align-items: center;
        }
    }

    &__title {
        font-size: 60px;
        font-weight: 300;
        color: white;
        margin-bottom: 30px;
        @media (max-width:422px) {
            font-size: 30px; 
            line-height: 30px;
            span {
                font-size: 20px;   
                line-height: 24px;             
                font-weight: 500;
            } 
        } 
    }

    &__buttons {
        display: flex;
        
    }

    &__button_p {
        @include button(#b0cd3b, white);   
        margin-right: 10px        
    }
    &__button_f {
        @include button(#1bbc9d, white);
    }
}


.portfolio {
    background-color: #282a2e;    
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    &__title {
        font-size: 36px;        
        font-weight: 300;
        margin: 65px 0 15px 0;
        color: white;
    }

    &__menu {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        button {
            min-width: 104px;
            background-color: #313338;
            color: white;
            text-align: center;
            padding: 15px 0;
            margin: 10px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            &:hover {
                background-color: #1bbc9d;
                transition: 0.2s;
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    &__content {
    }

    &__button {
        margin: 70px 0;
        background-color: rgba(#000000, 0);
        color: white;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 20px;
            left: 26px;
            border: solid #aaca29;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 10px;
            transform: rotate(45deg)            
        }
        &:hover {
            &::after {
                top: 25px;
                transition: 0.2s;
            }
        }
        
    }
}


.block {
    width: 224px;
    height: 224px;
    background-color: #313337;
    margin: 7.5px;
}

.pricing {    
    background-color: #4b3e33;
    flex: 0 1 430px;
    @media (max-width:420px) {
        flex: 0 1 300px;
        text-align: center;
    }
    &__row {
        display: flex;
        align-items: center;
        height: 100%;
        @media (max-width:420px) {
            justify-content: center;
        }
    }
    &__title {        
        display: flex;
        height: 100%;
        align-items: center;
        color: white;
        font-size: 60px;
        font-weight: 300;
        line-height: 40px;
        span {
            font-size: 40px;
            font-weight: 500;
        }
        @media (max-width:422px) {
            font-size: 30px; 
            line-height: 30px;
            span {
                font-size: 20px;   
                line-height: 24px;             
                font-weight: 500;
            } 
        } 
        
    }
}

.our-price {
    background-color: #282a2e;      

    &__title {
        line-height: 20px;
        font-weight: 300;
        font-size: 36px;
        margin: 40px 0 50px 0;
        color: #f4f4f4;
        text-align: center;
    }

    &__column {
    }

    &__row1 {
        display: flex;    
        justify-content: space-between;  
        @media (max-width:860px) {
            flex-direction: column;
            align-items: center;
        }  
        
    }

    &__row2 {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        @media (max-width:860px) {
            display: none;
        }
        
        .table:nth-child(1){
            .table__price {
                background-color: #424242;
            }
            .table__button {
                background-color: #e4e4e4;
                color: #424242;
            }
        }
        .table:nth-child(2){
            .table__price {
                background-color: #74b0a4;
            }
            .table__button {
                background-color: #74b0a4;               
            }
        }
        .table:nth-child(3){
            .table__price {
                background-color: #b6c380;
            }
            .table__button {
                background-color: #b6c380;                
            }
        }
        .table:nth-child(4){
            .table__price {
                background-color: #e4e4e4;
                color: #74b0a4;
                font-weight: 700;
            }
            .table__button {
                background-color: #424242;                
            }
        }
    }
	&__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #717171;
        align-items: center;
	}
	&__about-title {
        position: relative;
        margin: 45px 0;
	}
	&__footer-content {
        max-width: 405px;
        color: #717171;
        font-size: 13px;
        font-weight: 400;
        font-family: "Arial";
        line-height: 20px;
        position: relative;
        span {
            color: #b0cd3b;
            font-size: 18px;
            font-weight: 700;
        }
        
        &::after {
            content: "”";
            font-size: "Arial";
            font-weight: 400;
            text-transform: uppercase;
            color: #424242;
            font-size: 300px;
            position: absolute;
            line-height: 20px;
            top: 110px;
            right: -140px;
            @media (max-width:740px) {
                display: none;
            }
        }
        &::before {
            content: "“";
            font-size: "Arial";
            font-weight: 400;
            text-transform: uppercase;
            color: #424242;
            font-size: 300px;
            position: absolute;
            line-height: 20px;
            top: 110px;
            left: -140px;
            @media (max-width:740px) {
                display: none;
            }
        }
        margin-bottom: 70px;
	}
}
.footer-title {
    color: #f4f4f4;   
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    &::after {
        content: "";
        position: relative;
        width: 35%;    
        top: 9px;
        right: -50px;   
        height: 2px;
        background-color: #424242;
        @media (max-width:740px) {
            display: none;
        }
    }
    &::before {
        content: "";
        position: relative;
        top: 9px;
        left: -50px;
        width: 35%;        
        height: 2px;
        background-color: #424242;
        @media (max-width:740px) {
            display: none;
        }
    }

}



.table {
    display: flex;
    flex-direction: column;
    background-color: #313338;
    font-family: "Open Sans";
    text-align: center;
    max-width: 203px;    
    width: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);   
    border-radius: 10px;
    @media (max-width:740px) {
        margin-top: 30px;
    }

    &__title {
        margin: 40px 0 28px 0;
        font-size: 20px;
        font-weight: 300;
        color: #f4f4f4;

        
    }

    &__price {
        padding: 17px 0;
        background-color: #1bbc9d;
        font-size: 16px;
        font-weight: 700;
        color: white;
        margin: 15px 0;
        box-shadow: 0px 1px 5px black;
    }

    &__terms {
        font-size: 16px;
        color: #b6b6b6;
        font-weight: 400;
        span {
            font-weight: 700;
        }
        flex: 1 1 100%;
        ul {
            li {
                margin: 25px 0
            }
        }
    }

    &__button {
        @include button(#b0cd3b, white);
        width: 127px;
        align-self: center;
        margin: 15px 0;
    }
    &__text {
        margin: 25px 0;
    }    
}

.table_b {
    max-width: 263px;   
}

.table_w {
    background-color: #f4f4f4;
    .table {       
        &__title {
            color: #5c5c5c;
        }
        &__terms {
            color: 969696;
            span {
                color: #5c5c5c;
            }
        }
    }
}

.team {
    flex: 0 1 435px;
    background-color: #4b3e33;
    @media (max-width:420px) {
        flex: 0 1 300px;
        text-align: center;
    }
    &__title {        
        display: flex;
        height: 100%;
        align-items: center;
        color: white;
        font-size: 60px;
        font-weight: 300;
        line-height: 40px;
        span {
            font-size: 40px;
            font-weight: 500;
        }
        @media (max-width:422px) {
            font-size: 30px; 
            line-height: 30px;
            span {
                font-size: 20px;   
                line-height: 24px;             
                font-weight: 500;
            } 
        } 
        
    }
}

.about {
    flex: 0 1 905px;
    background-color: #282a2e;

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 40px 0 28px 0;
        font-size: 36px;
        font-weight: 300;
        color: #fffefe;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__skills {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__graph-box {
        margin: 60px auto 0 auto;
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    &__skills-title {
        
    }

    &__graph {
        color: #ffffff;
    }
    &__circle {
    margin: 0 15px;
    --percentage: 0;
    --fill: rgb(121, 121, 9);
    width: 150px;
    height: 75px;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing : border-box;
    &:after {
        content: '';
        width: 150px;
        height: 150px;
        border:30px solid;
        border-color : #424242 #424242 var(--fill) var(--fill);
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-sizing : border-box;
        transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
        animation : fillAnimation 1s ease-in;
    }       
        
    }

    &__graph-name {
        margin: 15px 0 0 0;
        text-align: center;
        font-size: 13px;
        line-height: 30px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.over {
    flex: 0 1 435px;
    background-color: #4b3e33;
    @media (max-width:420px) {
        flex: 0 1 300px;
        text-align: center;
    }
    &__title {        
        display: flex;
        height: 100%;
        align-items: center;
        color: white;
        font-size: 50px;
        font-weight: 500;
        line-height: 40px;
        text-transform: uppercase;
        span {
            line-height: 60px;
            font-size: 50px;
            font-weight: 300;
            text-transform: none;
        }
        @media (max-width:422px) {
            font-size: 30px; 
            line-height: 30px;
            span {
                font-size: 20px;   
                line-height: 24px;             
                font-weight: 500;
            } 
        }      
        
    }    
}

.about-block {  
    width: 230px; 
    display: flex;
    flex-direction: column;
    color: #acacac;
    text-align: center;
    padding: 10px;

    &__img {
        height: 230px;
        img {
            width: 100%;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 500;
        color: white;
        margin: 32px 0 0 0;
    }

    &__profession {
        font-size: 16px;
        font-weight: 300;
        margin: 8px 0 18px 0;
    }

    &__text {
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;    
        line-height: 20px;   
        flex: 1 1 100%; 
    }
}


.contact {
    background-color: #282a2e;

    &__title {
        font-size: 36px;
        color:white;
        font-family: 300;
        margin: 65px 0;
        text-align: center;
    }

    &__row {
        display: flex;
        margin-bottom: 104px;
        @media (max-width:800px) {
            flex-direction: column;
            
        }
        
    }

    &__form {        
        display: flex;
        flex-direction: column;
        input,textarea {
            background-color: #222327;
            color: #989898;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            font-family: "Arial";
            padding: 15px 2px 15px 15px;
        }

    }

    &__mail {
        flex: 1 1 100%;
        margin-right: 40px;  
        @media (max-width:800px) {
            margin: 0 0;
        }     
    }
    &__semi-title {
        margin-bottom: 20px;
        font-family: Roboto;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding: 0 0 10px 0;
        border-bottom: 2px solid #424242;
    }
    
    &__input {
        display: flex;
        width: 100%;   
        @media (max-width:420px) {
            flex-direction: column;
        }    
    }
    
    &__form-name {
        margin-right: 15px;
        flex: 0 1 50%;
        @media (max-width:420px) {
            margin: 0 0 15px 0;
        }
    }
    &__form-mail {
        flex: 0 1 50%;

    }

    &__message {
        resize: none;
        margin-top: 18px;
        height: 140px;
    }

    &__button {
        width: 104px;
        height: 32px;
        background-color: #1bbc9d;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        a {
            color: white;           
        }
    }

    &__info {
        flex: 0 0 160px;
        @media (max-width:800px) {
            margin-top: 50px;
        }
        p {
            color:#989898;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }           
        span {
            font-weight: 300;
        }
    }
    
}
.connect {
    flex: 0 1 435px;
    background-color: #4b3e33;
    &__row {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;        
        color: white;
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
        text-transform: uppercase;
        @media (max-width:600px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 30px; 
                line-height: 30px;
                span {
                    font-size: 20px;   
                    line-height: 24px;             
                    font-weight: 500;
            }
            } 
        } 
        span {
            line-height: 60px;
            font-size: 50px;
            font-weight: 300;
            text-transform: none;
        }        
    }    
    &__nav {
        @media (max-width:600px) {
            height: 100%;
        }        
        ul {
            display: flex;
            align-items: center;
            margin-top: 30px;
            max-width: 500px;
            width: 100%;            
            justify-content: space-between;
            @media (max-width:600px) {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;                
                height: 100%;
                margin: 0 0;
            }
            
            li {
                margin: 5px 10px 0 0;
                @media (max-width:600px) {
                    margin: 0 0;
                    align-self: center;
                }
                border-radius: 50%; 
                a {
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    
                }  
                &:nth-child(6){                                                       
                        border: 8px solid #282a2e;
                        border-radius: 50%;
                }                          
            }
        }
    }

}

.recent {
    flex: 1 1 450px;
    background-color: #282a2e;
    &__row {
        display: flex;
        justify-content: space-between;
        margin: 70px 0;
        @media (max-width:565px) {
            flex-direction: column;
            justify-content: center;
            
        }
    }

    &__block {
        flex: 1 1 33.3333%;
        margin-right: 70px;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width:565px) {
            flex: 0 0 auto;
            margin-right: 0;
        }
    }
    &__title {
        margin-bottom: 37px;
        font-family: Roboto;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding: 0 0 10px 0;
        border-bottom: 2px solid #424242;
        @media (max-width:565px) {
            margin: 40px 0;
        }
    }

    &__text-date {
        margin: 0 0 25px 0;        
        font-weight: 700;        
        img {
            margin-right: 10px;
        }
    }
    &__text {
        font-family: Arial;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #747474;
        margin-bottom: 35px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            text-decoration: underline;
            color: #1bbc9d;
        }
    }
    &__photo {
        display: flex;
        flex-wrap: wrap;   
        
        width: 100%;         
        img {
            margin: 5px 2px;
        }
    }
}



.footer {    
    flex: 1 0 auto;
    height: 140px; 
    background-color: #222327;     
    &__row {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        @media (max-width:660px) {
            flex-direction: column;
        }
    }
    &__logo {
        display: flex; 
        align-items: center; 
        color: white;
        font-size: 24px;
        font-weight: 500;
        img {
            margin-right: 12px;
        }
    }
    &__contact {
        display: flex;
        color: #989898;
        font-weight: 500;
        font-size: 16px;
        justify-content: center;
        p {
            margin-right: 20px;
            @media (max-width:430px) {
                margin-top: 5px;
                text-align: center;
            }
        }
        @media (max-width:430px) {
            flex-direction: column;
        }

    }
}
