@import './null.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Roboto";
}

.container {
    max-width: 965px;
    padding: 15px;
    height: 100%;
    width: 100%;
    margin: 0 auto;    
}

.header {
    flex: 1 0 auto;
    height: 115px;   
    background-color: #282a2e; 
    
}
.header {
    color: white;    
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
    }

    &__logo {     
        display: flex;
        align-items: center;
        img {
            margin: 0 15px 0 0;
        }  
        h1 {
            font-size: 24px;
        }                
    }

    &__menu {
        max-width: 560px;
        width: 100%;
    }

    &__nav {        
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        ul {
            display: flex;
            justify-content: space-between;
        }
        @media (max-width:960px) {
            display: none;
        }
    }
}

.content {
    flex: 1 0 100%;   
    display: flex;
    flex-direction: column; 
}


.welcome {
    background-color: #453a33;
    display: flex;
    color: white;
    flex: 0 1 580px;  
    position: relative;   

    &__row {
        display: flex;
        align-items: center;
        height: 100%;
        
    }

    &__title {
        word-wrap: break-word;
        font-size: 60px;        
        font-weight: 300;
        line-height: 60px;
        span {
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
        }       
    }
    &__button {        
        background-color: rgba(#000000, 0);
        margin: 0 15px;      
        z-index: 50;  
    }   
    &__bg {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 500px;
        @media (max-width:1023px) {
            width: 350px;
        }
        @media (max-width:880px) {
            display: none;
        }
        img {
            position: absolute;
        }

        img:nth-child(1) {
            bottom: 0;
            left: 0;
        }
        img:nth-child(2) {
            bottom: 130px;
            left: 160px;
            opacity: 0.9;
        }
        img:nth-child(3) {
            bottom: 245px;
            left: 160px;
            opacity: 0.8;
        }
        img:nth-child(4) {
            bottom: 295px;
            left: 240px;
            opacity: 0.7;
        }
        img:nth-child(5) {
            bottom: 380px;
            left: 170px;
            opacity: 0.6;
        }
        img:nth-child(6) {
            top: 150px;
            left: 290px;
            opacity: 0.4;
        }
        img:nth-child(7) {
            top: 100px;
            left: 259px;
            opacity: 0.35;
        }
        img:nth-child(8) {
            top: 55px;
            left: 326px; 
            opacity: 0.3;          
        }

    }
}

.services {
    background-color: #282a2e;
    flex: 0 1 440px;

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        color: #ffffff;
        margin: 50px 0 0 0;
        
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 40px 0 60px 0;
        @media (max-width:880px) {
            flex-wrap: wrap;
        }
        
    }
}

.plate {    
    display: flex;
    flex-direction: column;
    max-width: 180px;
    text-align: center;
    margin: 20px;   

    &__img {
        width: 101px;
        height: 101px;
        background-color: #313338;
        border-radius: 50%;
        margin: auto auto;
        display: flex;
        img {
            margin: auto auto;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 20px;
        font-weight: 300;
        color: #fbfbfb;
        margin: 15px 0;
    }

    &__text {
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        color: #b3b3b3;
        line-height: 20px;
        flex: 0 1 100%;
        
    }   
}
@mixin button($bg, $color) {
    background-color: $bg;
    color: $color;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    font-family: "Roboto";
    padding: 15px 0;
    min-width: 127px;
    text-align: center;
    border-radius: 7px;

}

.like {
    background-color: #4b3e33;
    flex: 0 1 435px;

    &__column {
        display: flex;
        height: 100%;
        flex-direction: column;        
        justify-content: center;
    }

    &__title {
        font-size: 60px;
        font-weight: 300;
        color: white;
        margin-bottom: 30px;
    }

    &__buttons {
    }

    &__button_p {
        @include button(#b0cd3b, white);   
        margin-right: 10px        
    }
    &__button_f {
        @include button(#1bbc9d, white);
    }
}



.footer {
    flex: 1 0 auto;
    height: 100px;   
    background-color: black;     
}
